@import "./medias.scss";
@import "./colors.scss";

.Container {
  box-sizing: border-box;
  height: 100vh;
}
.title {
  line-height: 1.15;
  font-size: 16px;
  color: #3f47cc;
  margin-top: 0px;
  @include media_tablet {
    font-size: 1.5rem;
  }
}

.title {
  text-align: center;
}
