@import "./medias.scss";
@import "./colors.scss";

.container {
  box-sizing: border-box;
  height: 100vh;
  padding-top: 43px;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  display: flex;
  margin-top: 30px;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.powered {
  color: #3f47cc;
  &:hover {
    color: #fed501;
  }
}

.title {
  line-height: 1.15;
  font-size: 2rem;
  color: #3f47cc;
  margin-top: 0px;
  @include media_tablet {
    font-size: 4rem;
  }
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  height: 450px;
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 300px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(100px);
  p {
    text-align: center;
  }
  .imageFile {
    display: none;
  }
}

.card:hover,
.card:focus,
.card:active {
  p {
    background: -webkit-linear-gradient(#0070f3, #0070f3);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.card:hover {
  box-shadow: unset;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 17px 0 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

// .fileUpload {
//   display: none;
// }

.noneVisible {
  display: none;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
